ul {
    list-style-type: square;
    margin-left: 20px;
}

ul li {
    margin-bottom: 10px;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
}
.profile-photo {
    width: 180px; 
    height: 250px; 
}
#cv-container {
    font-family: Arial, sans-serif;
    background-color: orange;
    color: white;
    font-size: 20px;
}
#cv-ecriture {
    font-family: Arial, sans-serif;
    background-color: blue;
    color: white;
    font-size: 20px;
}

